body{
    margin:0;
    font-family:Arial;
    background-color:#f4f4f4;
    text-align:center;
}
header {
    background-color:#0ab68b;
    color:white;
    padding:30px;
}
section{
    background-color:violet;
    margin:20px;
    padding:20px;
}
.features.box{
    background-color:#0ab68b;
    color:cornflowerblue:
    padding:20px;
    margin:10px;
    display:inline-block;
    width:200px;
}
footer {
    background-color:darkblue;
    color:white;
    text-align:center;
    padding:15px;
}
.testimonials{
    background: color #f5f5f5;
    padding:30px;
    margin:20px;
}
.testimonial-box{
    background-color:#0ab68b
    color:beige;
    padding:20px;
    margin:10px auto;
    max-width:400px;
    border-radius:10px
}
img {
    display:block;
    margin:20px auto;
    border-radius:10px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.2);

}
